@mixin flex($main-axis: flex-start, $second-axis: stretch) {
    display: flex;
    flex-wrap: wrap;

    @if ($main-axis != flex-start) {
        justify-content: $main-axis;
    }

    @if ($second-axis != stretch) {
        align-items: $second-axis;
    }
}